<p id="notice"><%= notice %></p>

<h1>Gank Sessions</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Character Name</th>
      <th>Start Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gank_sessions.each do |gank_session| %>
      <tr>
        <td><%= gank_session.character.name %></td>
        <td><%= gank_session.start_time %></td>
        <td><%= link_to 'Show', gank_session %></td>
        <td><%= link_to 'Edit', edit_gank_session_path(gank_session) %></td>
        <td><%= link_to 'Destroy', gank_session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gank Session', new_gank_session_path %>
