<% if notice %>
  <div class="alert alert-info" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <%= notice %>
  </div>
<% end %>

<h1>
  Gank Session
  <span class="float-right h4">
    <%= link_to 'Edit', edit_gank_session_path(@gank_session), class: 'btn btn-primary' %>
  </span>
</h1>
<h3><%= @gank_session.start_time %> - <%= @gank_session.end_time %></h3>

<div class="row">
  <div class="col-6">
    <h2>Characters</h2>
    <ul>
      <% @gank_session.characters.each do |character| %>
        <li><%= character.name %></li>
      <% end %>
    </ul>
  </div>

  <div class="col-6">
    <% if @gank_session.players_killed %>
      <h2>Players Killed</h2>
      <ul>
        <% @gank_session.players_killed.each do |pk| %>
          <li><%= pk %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>

<% if @gank_session.end_time.nil? %>
  <div>
    <%=
    link_to 'End Session',
    gank_session_end_path(@gank_session),
    method: :post,
    data: { confirm: 'Session over?' }
    %>
  </div>
  <div>
    <%= link_to 'Update Loot',
    gank_session_loot_path(@gank_session),
    method: :post,
    data: { confirm: 'Update loot?' } %>
  </div>
<% end %>

<% if @gank_session.items_dropped %>
  <% items_dropped_half_length = @gank_session.items_dropped.length / 2 %>
  <h2>Items Dropped</h2>
  <div class="row">
    <% @gank_session.items_dropped.each do |item| %>
      <div class="col-4 col-sm-3 col-md-2 col-xl-1 border">
        <div>
          <%= image_tag item_icon(item['type'], item['quantity']), class: 'img-fluid' %>
        </div>
        <h4 class="text-center"><%= item['quantity'] %></h4>
      </div>
    <% end %>
  </div>
<% end %>

<%= link_to 'Back', gank_sessions_path %>
