<% if notice %>
  <div class="alert alert-info" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <%= notice %>
  </div>
<% end %>

<h1><%= @gank_session.character.name %></h1>
<h3><%= @gank_session.start_time %> - <%= @gank_session.end_time %></h3>

<%= link_to 'Edit', edit_gank_session_path(@gank_session) %> |
<%= link_to 'Back', gank_sessions_path %>
