<p id="notice"><%= notice %></p>

<h1>Guilds</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Api</th>
      <th>Alliance</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @guilds.each do |guild| %>
      <tr>
        <td><%= guild.name %></td>
        <td><%= guild.api_id %></td>
        <td><%= guild.alliance.name if guild.alliance %></td>
        <td>
          <%= link_to 'Destroy', guild,
          method: :delete, data: { confirm: 'Are you sure?' } if can? :manage, Guild %>
        </td>
        <td><%= link_to 'Show', guild %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Guild', new_guild_path if can? :manage, Guild %>
