<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @guild.name %>
</p>

<p>
  <strong>Api:</strong>
  <%= @guild.api_id %>
</p>

<p>
  <strong>Alliance:</strong>
  <%= link_to @guild.alliance.name, @guild.alliance %>
</p>

<p>
  <strong>Members:</strong>
  <ul>
    <% @guild.characters.each do |character| %>
      <li><%= link_to character.name, character %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Back', guilds_path %>
