<p id="notice"><%= notice %></p>

<h1>Characters</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Guild</th>
      <th>Aliiance</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @characters.each do |character| %>
      <tr>
        <td><%= character.name %></td>
        <td><%= character.guild.name if character.guild %></td>
        <td><%= character.alliance.name if character.alliance %></td>
        <td>
          <%= link_to 'Destroy', character,
          method: :delete, data: { confirm: 'Are you sure?' } if can? :manage, character %>
        </td>
        <td><%= link_to 'Show', character %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Character', new_character_path if can? :manage, Character %>
