<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Api:</strong>
  <%= @character.api_id %>
</p>

<p>
  <strong>Guild:</strong>
  <%= link_to @character.guild.name, @character.guild if @character.guild %>
</p>
<%= link_to 'Back', characters_path %>
